<div class="text-center">
  <h1>Running Calculator</h1>
  <br>
  <p>Get your pace from total run time and total distance</p>
  <form action="/pace_answer" method="get">
    <input type="number" name="minutes" placeholder="Enter total minutes">
    <input type="number" name="seconds" placeholder="Enter total seconds">
    <input type="number" name="distance" placeholder="Enter total distance"">
    <input type="submit">
  </form>
  <br>
  <p>Get your distance from total run time and average pace per kilometre</p>
  <form action="/pace_answer" method="get">
    <input type="number" name="minutes" placeholder="Enter total minutes">
    <input type="number" name="seconds" placeholder="Enter total seconds">
    <input type="number" name="distance" placeholder="Enter total distance"">
    <input type="submit">
  </form>
  <br>
  <p>Get your total run time from average pace per kilometre and total distance</p>
  <form action="/pace_answer" method="get">
    <input type="number" name="minutes" placeholder="Enter total minutes">
    <input type="number" name="seconds" placeholder="Enter total seconds">
    <input type="number" name="distance" placeholder="Enter total distance"">
    <input type="submit">
  </form>
</div>
