// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {
  min-width: 140px;
}

input {
  min-width: 170px;
}

.btn {
  margin-top: 10px;
}
